@import "tailwindcss";

/* Minimal global styles; rely on Tailwind utility classes */
html,
body {
  height: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-wide: 1200px;
  --side-panel-width: 600px;
}
